@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Student

<form method = "post" asp-action="Edit">
    <div class="formContainer">
        <a class="backButton bi bi-arrow-left" asp-area=" " asp-controller="Home" asp-action="Index"> Back</a>
        <p class="formTitle">Update Student</p>

        <div class = "inputContainer">
            <input asp-for="Id" hidden />
          
            <label class="formLabel" asp-for="FirstName">First Name:</label>
            <input class="formInput" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="errorMsg"></span>

            <label class="formLabel" asp-for="LastName">Last Name:</label>
            <input class="formInput" asp-for="LastName">
            <span asp-validation-for="LastName" class="errorMsg"></span>

            <label class="formLabel" for="exampleFormControlSelect">Grade:</label>
            <select class="form-control" 
                    id="exampleFormControlSelect"
                    asp-for="Grade">
                <option>Freshman</option>
                <option>Sophmore</option>
                <option>Junior</option>
                <option>Senior</option>
            
            </select>
    

            <label class="formLabel" asp-for="GPA">GPA:</label>
            <input class="formInput" asp-for="GPA">
            <span asp-validation-for="GPA" class="errorMsg"></span>

            <button type="submit" class="formSubmit">Update</button>

            <a class="deleteButton bi-trash3-fill" asp-area="@Model.Id" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.Id">Delete Student</a>

        </div>
    </div>
</form>
