@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Students</h1>

    @foreach(var obj in Model)
    {
        <p>@obj.FirstName</p>
    }
</div>
