html {
  font-size: 14px;
}

@media (max-width: 769px) {
    formTitle {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
    }

   
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #191716;
}
.title {
    margin: 50px 0px 50px 0px;
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
    color: #50c878;
}

/*
    Add and Search
*/
.addSearch {
    display: flex;
    justify-content: space-between;
}
.addButton {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: #191716;
    text-decoration: none;
    border-radius: 5px;
    background-color: #50c878
}
.addButton:hover {  
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: #191716;
    text-decoration: none;
    border-radius: 5px;
    background-color: #50c878
}

.searchForm {
    display: flex;
}

.searchBar {
    display: inline-block;
    background-color: #50c878;
    color: #191716;
    text-align: left;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 100%;
   
}
.searchButton {
    display: inline-block;
    background-color: #50c878;
    text-align: left;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
}
/*
  Card CSS
*/
.editButton {
    background: transparent;
    border: none;
  
    color: #50c878;
    text-align: right;
    font-size: 20px;
}
.editButton:hover {
    background: transparent;
    border: none;
   
    color: #50c878;
    text-align: right;
    font-size: 20px;
}

.card {
    display: flex;
    background-color: #50c878;
    margin: 30px 10px 0px 0px;
    border-radius: 20px;
    color: #191716;

    font-weight: bold
}

.card-title {
    display: inline;
    text-align: center;
    
    font-size: 25px;
    color: #50c878;
}

.card-text {
    font-size: 20px;
   
}

.displayLabel {
    display: flex;
    padding: 10px 10px 0px 10px;
    border-top-left-radius: 15px;
    justify-content: space-between;
    background-color: #191716;
}

/*
  Form CSS
*/

.formContainer {
   
    width: 75%;
    margin: 100px auto 0px auto;
    padding: 20px;
    background-color: #50c878;
    border-radius: 10px;
}

.inputContainer{
    width: 60%;
    margin: 0px auto 0px auto;
    background-color: #50c878;
    border-radius: 10px;
}

.formTitle{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.formLabel {
    display: block;
    color: #191716;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.formInput {
    display: block;
    background-color: #dadff7;
    
    text-align: left;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    width: 100%
}

.form-control {
    display: block;
    font-size: 20px;
    background-color: #dadff7;
    text-align: left;
    font-weight: bold;
    border: none;
    width: 100%
}

.formSubmit {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    color: #191716;
    background-color: #dadff7;
}

.errorMsg{
    color: red;
    font-weight: bold;
}
.backButton {
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: #191716;
    text-decoration: none;
    border-radius: 5px;
    background-color: #50c878
}

.backButton:hover {
    font-weight: bold;
    font-size: 20px;
    border: none;
    color: #191716;
    text-decoration: none;
    border-radius: 5px;
    background-color: #50c878
}

/*
    Edit CSS
*/
.deleteButton {
    display: block;
    margin-top: 60px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    color: darkred;
    background-color: #dadff7;
}

.deleteButton:hover {
    display: block;
    margin-top: 60px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    color: darkred;
    background-color: #dadff7;
}

/*
    Delete CSS
*/

.confirmDelete {
    margin-top: 40px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;

    color: #dadff7;
    background-color: darkred;
}